::-webkit-scrollbar{
    width: 12px;
  }
  ::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: linear-gradient(#000000,white);
  height: 150px;
  }
  

  .navbar{
    background:#000000;
    border: none;
    width: 100%;
    border-bottom: 2px solid white;
    }



    #storyel{
        margin-left: 10px;
        /* font-size: 3vw; */
        margin-top: 10px;
        font-family: 'Nova Script';
        letter-spacing: 4px;
        font-weight: 600;
        /* font-size: 25px; */
        border-left: rgb(255, 255, 255) 3px solid ;
        padding: 12px;
        }


#bouton{
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  height: 35px;
  }


#navbari{
  color: white;
  font-family: 'Nova Script';
  }

#navbari:hover{
  color: red;
  }
